.footer {
  background: #004e75;
   position:static;
     left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 999;
  color: #afdce7;
  padding: 6.2rem 1.3rem 1.3rem 4.3rem;
  font-size: 1.04rem;
  box-shadow: 0 -2px 24px 0 rgba(0,0,0,0.09);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.3rem;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.04rem;
}

.footer-logo {
  font-weight: 800;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.14rem;
  letter-spacing: 2px;
  color: #afdce7;
}

.footer-copy {
  opacity: 0.8;
  font-size: 1rem;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-size: 1.06rem;
}

.footer-follow {
  font-weight: 500;
  font-size: 1rem;
  color: #e8eaf0;
  margin-right: 0.6rem;
}

.footer-right a {
  color: #afdce7;
  font-size: 1.5rem;
  margin: 0 0.07em;
  transition: color 0.15s;
}

.footer-right a:hover {
  color: #afdce7;
}

@media (max-width: 650px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .footer-right {
    gap: 0.75rem;
    font-size: 1.18rem;
  }
}
